[project]
	description = A sample recipe book project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aikidave
[access "refs/for/refs/*"]
	read = group user/aikidave
	push = group user/aikidave
	label-Code-Review = -2..+2 group user/aikidave
	label-Verified = -1..+1 group user/aikidave
	rebase = group user/aikidave
	removeReviewer = group user/aikidave
	submit = group user/aikidave
[access "refs/heads/*"]
	read = group user/aikidave
	create = group user/aikidave
	push = +force group user/aikidave
	pushMerge = group user/aikidave
[access "refs/tags/*"]
	push = group user/aikidave
	push = +force group user/aikidave
